{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
